Perfect ðŸ‘Œ letâ€™s create  as a practice notebook for all the DataFrame concepts youâ€™ve been covering.


# ðŸ“ DataFrame Exercises
**`dataframe_exercises.ipynb`**

This notebook will help you practice **pandas DataFrame operations**.  
Try solving each exercise **before looking at the solution** ðŸš€

---

## Step 1: Import Pandas
```python
import pandas as pd
```

---


## Exercise 1: Create a DataFrame

ðŸ‘‰ Create a DataFrame with the following data:

| Name    | Age | City      | Salary |
| ------- | --- | --------- | ------ |
| Alice   | 25  | New York  | 50000  |
| Bob     | 30  | Chicago   | 60000  |
| Charlie | 35  | San Diego | 70000  |
| Diana   | 40  | Houston   | 80000  |

âœ… **Task:** Create the DataFrame and print it.

```python
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Chicago", "San Diego", "Houston"],
    "Salary": [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)
print(df)
```

---


## Exercise 2: Inspect the DataFrame

âœ… **Tasks:**

1. Show the first 2 rows
2. Show the shape
3. Show the column names

```python
print(df.head(2))
print(df.shape)
print(df.columns)
```

---


## Exercise 3: Select Columns

âœ… **Tasks:**

1. Select the `Name` column
2. Select both `Name` and `Salary`

```python
print(df["Name"])
print(df[["Name", "Salary"]])
```

---


## Exercise 4: Filter Rows

âœ… **Tasks:**

1. Show all rows where `Age > 30`
2. Show all rows where `City == "Chicago"`

```python
print(df[df["Age"] > 30])
print(df[df["City"] == "Chicago"])
```

---


## Exercise 5: Add a New Column

âœ… **Task:** Add a new column `Bonus` = 10% of Salary

```python
df["Bonus"] = df["Salary"] * 0.10
print(df)
```

---


## Exercise 6: Modify Values

âœ… **Task:** Increase all `Salary` values by 5,000

```python
df["Salary"] = df["Salary"] + 5000
print(df)
```

---


## Exercise 7: Drop a Column

âœ… **Task:** Remove the `Bonus` column

```python
df = df.drop("Bonus", axis=1)
print(df)
```

---


## Exercise 8: Sorting

âœ… **Tasks:**

1. Sort by `Age` (ascending)
2. Sort by `Salary` (descending)

```python
print(df.sort_values("Age"))
print(df.sort_values("Salary", ascending=False))
```

---


## Exercise 9: Grouping

ðŸ‘‰ Add a new column `Department` with values:
`["IT", "IT", "HR", "HR"]`

âœ… **Task:** Find average salary per department

```python
df["Department"] = ["IT", "IT", "HR", "HR"]
print(df.groupby("Department")["Salary"].mean())
```

---


## Exercise 10: Handling Missing Data

ðŸ‘‰ Add a new row with missing values.

âœ… **Task:**

1. Check for missing values
2. Fill missing salary with `df["Salary"].mean()`

```python
df.loc[4] = ["Eve", None, "Boston", None, "Finance"]
print(df)

print(df.isnull().sum())

df["Salary"].fillna(df["Salary"].mean(), inplace=True)
print(df)
```

---


## Exercise 11: Save & Load

âœ… **Tasks:**

1. Save the DataFrame to CSV
2. Load it back

```python
df.to_csv("employees.csv", index=False)
df_loaded = pd.read_csv("employees.csv")
print(df_loaded)
```

---


# ðŸŽ¯ Summary

You practiced:

* Creating DataFrames
* Selecting & filtering data
* Adding/modifying/dropping columns
* Sorting & grouping
* Handling missing data
* Saving & loading data

This gives you **solid pandas DataFrame skills** ðŸš€


---