# Pandas Merging and Joining
**`07-merging-joining.ipynb`**

In this notebook, we learn how to **combine datasets** using Pandas.  
We will cover **merging, joining, concatenation, and combining data** with examples.

---


## Step 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np

---

## Step 2: Create Sample DataFrames

In [2]:
# Employee Data
df1 = pd.DataFrame({
    "EmployeeID": [101, 102, 103, 104],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Department": ["HR", "IT", "Finance", "IT"]
})

# Salary Data
df2 = pd.DataFrame({
    "EmployeeID": [101, 102, 103, 105],
    "Salary": [50000, 60000, 55000, 65000]
})

print("Employee DataFrame:\n", df1)
print("\nSalary DataFrame:\n", df2)

Employee DataFrame:
    EmployeeID     Name Department
0         101    Alice         HR
1         102      Bob         IT
2         103  Charlie    Finance
3         104    David         IT

Salary DataFrame:
    EmployeeID  Salary
0         101   50000
1         102   60000
2         103   55000
3         105   65000

---

## Step 3: Merge DataFrames

### Merge on a Key

In [3]:
merged_df = pd.merge(df1, df2, on='EmployeeID')
print(merged_df)

   EmployeeID     Name Department  Salary
0         101    Alice         HR   50000
1         102      Bob         IT   60000
2         103  Charlie    Finance   55000

### Merge with Different Types of Joins

In [4]:
# Left Join
left_join = pd.merge(df1, df2, on='EmployeeID', how='left')
print("Left Join:\n", left_join)

# Right Join
right_join = pd.merge(df1, df2, on='EmployeeID', how='right')
print("Right Join:\n", right_join)

# Outer Join
outer_join = pd.merge(df1, df2, on='EmployeeID', how='outer')
print("Outer Join:\n", outer_join)

# Inner Join (default)
inner_join = pd.merge(df1, df2, on='EmployeeID', how='inner')
print("Inner Join:\n", inner_join)

Left Join:
    EmployeeID     Name Department   Salary
0         101    Alice         HR  50000.0
1         102      Bob         IT  60000.0
2         103  Charlie    Finance  55000.0
3         104    David         IT      NaN
Right Join:
    EmployeeID     Name Department  Salary
0         101    Alice         HR   50000
1         102      Bob         IT   60000
2         103  Charlie    Finance   55000
3         105      NaN        NaN   65000
Outer Join:
    EmployeeID     Name Department   Salary
0         101    Alice         HR  50000.0
1         102      Bob         IT  60000.0
2         103  Charlie    Finance  55000.0
3         104    David         IT      NaN
4         105      NaN        NaN  65000.0
Inner Join:
    EmployeeID     Name Department  Salary
0         101    Alice         HR   50000
1         102      Bob         IT   60000
2         103  Charlie    Finance   55000

---

## Step 4: Merge on Multiple Keys

In [5]:
df3 = pd.DataFrame({
    "EmployeeID": [101, 102, 103, 104],
    "Department": ["HR", "IT", "Finance", "IT"],
    "Bonus": [1000, 1500, 1200, 1300]
})

# Merge on EmployeeID and Department
multi_key_merge = pd.merge(df1, df3, on=['EmployeeID','Department'], how='left')
print(multi_key_merge)

   EmployeeID     Name Department  Bonus
0         101    Alice         HR   1000
1         102      Bob         IT   1500
2         103  Charlie    Finance   1200
3         104    David         IT   1300


---

## Step 5: Concatenation

In [6]:
# Create two DataFrames with same columns
df_a = pd.DataFrame({
    "Name": ["Alice", "Bob"],
    "Age": [25, 30]
})

df_b = pd.DataFrame({
    "Name": ["Charlie", "David"],
    "Age": [28, 35]
})

# Concatenate vertically (stack rows)
concat_df = pd.concat([df_a, df_b])
print(concat_df)

# Concatenate horizontally (add columns)
df_c = pd.DataFrame({
    "Salary": [50000, 60000]
})

concat_horizontal = pd.concat([df_a, df_c], axis=1)
print(concat_horizontal)

      Name  Age
0    Alice   25
1      Bob   30
0  Charlie   28
1    David   35
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000


---

## Step 6: Join DataFrames Using Index

In [7]:
df_left = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 28]
}, index=[1,2,3])

df_right = pd.DataFrame({
    "Salary": [50000, 60000, 55000]
}, index=[1,2,4])

# Join using index
joined_df = df_left.join(df_right, how='outer')
print(joined_df)

      Name   Age   Salary
1    Alice  25.0  50000.0
2      Bob  30.0  60000.0
3  Charlie  28.0      NaN
4      NaN   NaN  55000.0

---

## Step 7: Handling Conflicting Column Names

In [8]:
df1 = pd.DataFrame({
    "EmployeeID": [101, 102, 103],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "EmployeeID": [101, 102, 103],
    "Name": ["A. Smith", "B. Jones", "C. Brown"],
    "Salary": [50000, 60000, 55000]
})

merged_df = pd.merge(df1, df2, on='EmployeeID', suffixes=('_Left', '_Right'))
print(merged_df)

   EmployeeID Name_Left Name_Right  Salary
0         101     Alice   A. Smith   50000
1         102       Bob   B. Jones   60000
2         103   Charlie   C. Brown   55000

---

## Step 8: Real-World Example

In [9]:
# Customer Orders
orders = pd.DataFrame({
    "OrderID": [1,2,3,4],
    "CustomerID": [101,102,101,103],
    "Amount": [250, 150, 300, 200]
})

# Customer Info
customers = pd.DataFrame({
    "CustomerID": [101,102,103],
    "Name": ["Alice", "Bob", "Charlie"],
    "City": ["NY", "LA", "Chicago"]
})

# Merge orders with customer info
orders_with_customers = pd.merge(orders, customers, on='CustomerID', how='left')
print(orders_with_customers)

   OrderID  CustomerID  Amount     Name     City
0        1         101     250    Alice       NY
1        2         102     150      Bob       LA
2        3         101     300    Alice       NY
3        4         103     200  Charlie  Chicago

---

## ✅ Summary

* **`merge()`**: Combines DataFrames based on one or more keys.
* Join types: **left, right, inner, outer**.
* **`concat()`**: Concatenate DataFrames vertically or horizontally.
* **`join()`**: Join DataFrames using their index.
* Use **suffixes** to handle overlapping column names.
* Essential for **combining multiple datasets** for analysis.

---